.card {
  width: 250px;
  height: 300px;
  background-color: grey;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-top: 10px;
}

.cardImage {
  width: 100%;
  height: 70%; /* Adjust the height as needed */
  position: relative;
  object-fit: cover;
}

.cardText {
  height: 30%;
  padding: 10px;
}
